.ticketInformation {
  padding-left: 20px;
  text-decoration: none;
  margin: 15px 0 15px 15px;
  padding: 5px 12.5px;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  color: black;
}
